@font-face {
  font-family: Quicksans;
  src: url(Quicksans.ttf);
}
*{
  font-family: Quicksans;
}
.container{
  margin: 120px auto;
}
.p-header img{
  width: 200px;
  filter: brightness(1.5);
}
.p-body h4{
  margin-bottom: 0px;
}
.p-body p{
  margin-top: 10px;
}
